<div class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-7">
      <h1 class="title is-2">Organizations</h1>

      <% @organizations.each do |org| %>
        <div class="list is-hoverable">

          <%= render "admin/panel", org: org %>

          <%= link_to org.company_name, org, class: "list-item" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
