<div class="wrp">

  <div class="welcome">
    <div class="h-line">
      <div class="headline">Learn on your schedule</div>
      <div class="headline-cont">Anywhere, anytime. Enjoy and develope youself.</div>
    </div>
  </div>

  <div class="center-welcome">
     <div class="h-line-content">
      <div class="headline-center">It’s time to start investing in yourself</div>
      <div class="headline-cont">Because learning something new the easiest way to change your life</div>
      <%= link_to 'Get Started', new_user_registration_path, class: "button is-link is-outlined is-medium is-rounded mainbnt" %>
    </div>
  </div>

  <%= render "lates_courses" %>

</div>

<footer class="footer">
  <div class="navbar-brand">
    <%= link_to root_path, class: "navbar-item" do %>
      <h1 class="title is-6" id="logo-name">eLearningSystem</h1>
    <% end %>
  </div>
    <div class="content has-text-centered">
      <div class="author">by Timofey Gomolko</div>
    </div>
</footer>

