<a id="add-q" class="tag is-info is-small">Add text question</a> 
<a id="add-checkbox-form" class="tag is-primary is-small">Add checkbox question</a>
<a id="add-radio-form" class="tag is-info is-small">Add radio question</a>
<div id="main"></div>
<div id="question"></div>
<%= render "pages/questions/textbox_question_form" %>
<%= render "pages/questions/checkbox_question_form" %>
<%= render "pages/questions/radio_question_form" %>
