<a id="add-q" class="button is-info is-small is-rounded">Add text question</a>
<a id="add-checkbox-form" class="button is-primary is-small is-rounded">Add checkbox question</a>
<a id="add-radio-form" class="button is-danger is-small is-rounded">Add radio question</a>
<div class="main"></div>
<div id="question"></div>
<%= render "pages/questions/textbox_question_form" %>
<%= render "pages/questions/checkbox_question_form" %>
<%= render "pages/questions/radio_question_form" %>
