<div class="columns is-centered">
  <div class="column is-4">
    <h1 class="title is-2">Editing Course</h1>
    <%= render 'form', course: @course %> </br>
    <%= link_to 'Show', @course, { class: "button is-link is-small"} %>
    <%= link_to 'Back', course_path, { class: "button  is-small is-black"} %>
  </div>
</div>
