<div class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6">
      <h1 class="title is-2">New Course</h1>
      <%= render 'form', course: @course %></br>
    </div>
  </div>
</div>
