/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bulma';

.navbar.is-info{
  box-shadow: 0 0 1px 1px rgba(20,23,28,.1),0 3px 1px 0 rgba(20,23,28,.1);
  height: 65px;
}

.navbar-brand{
  margin-left: 10%;
}

.fa.fa-check-circle.fa-2x{
  margin-right: 10px;
  margin-top: 2px;
  color: green;
}

.fa.fa-close.fa-2x{
  color: red;
  margin-top: 2px;
  margin-right: 10px;
}

.fa.fa-pencil.fa-2x{
  color: blue;
  margin-top: 2px;
  margin-right: 10px;
}

.fa.fa-trash.fa-2x{
  color: red;
  margin-top: 2px;
  margin-right: 10px;
}

.title.is-2.center{
  text-align: center;
}

.tag.is-info.is-medium.is-custom{
  margin-right: 20px;
}

#q-text-form{
  display: none;
}

#checkbox-from{
  display: none;
}

#q-radio-from{
  display: none;
}

#answer{
  margin-left: 0px;
}

.button.is-small.is-info.is-dis{
  pointer-events: none;
  cursor: wait;
  opacity: .5;
}

#new_relationship{
  width: 128px;
  margin: 0 auto;
}

.edit_relationship{
  width: 128px;
  margin: 0 auto;
}

#rate-bnt{
  display: none;
}

.fa.fa-file-pdf-o{
  font-size: 48px;
  color: red;
}

.ff{
  width: 240px;
  margin-left: 72px;
}

#answers_{
  width: 163px;
}

.button.is-small.is-primary.quest{
  margin-left: 105px; 
  margin-top: 5px; 
}

.radio-dv{
  width: 245px;
  margin-left: 63px;
}

.button.is-small.is-danger.rquest{
  margin-left: 103px; 
  margin-top: 5px; 
}

.t-quest{
  width: 307px;
  margin-left: 70px;
}

.ui-progressbar {
  height: 1em;
  text-align: left;
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
  background: #e9ecef;
  border-radius: 290486px;
}

.ui-progressbar .ui-progressbar-value {
  margin: -1px;
  height: 100%;
  background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  background-size: 1rem 1rem;
  background-color: #ffc107;
}

.dashboard{
  width: 378px;
  text-align: center;
  margin-bottom: 80px;
}

.showmore{
  text-align: center;
}
#completed-table{
  margin: 0 auto;
}

.fa.fa-bookmark.fa-3x{
  color: orange;
  cursor: pointer;
  margin-top: 9px;
}

.fa.fa-bookmark-o.fa-3x:hover{
  color: orange;
}

.fa.fa-bookmark-o.fa-3x{
  cursor: pointer;
  margin-top: 8px;
}

.fa-bm{
  border: none;
  background: none;
}

#current-tb{
  width: 50%;
  margin: 0 auto;
  margin-top: 2%;
}

table{
  min-width: 300px;
}

.string.required.input.search{
  width: 390px;
}

.search-form{
  text-align: center;
  margin-top: 10px;
}
