<div class="columns is-centered">
  <div class="column is-4">
    <h1 class="title is-2">Editing Organization</h1>
    <%= render 'form', organization: @organization %> </br>
    <%= link_to 'Show', @organization, { class: "button is-link is-small"} %>
  </div>
</div>
