<div class="column">
  <div class="dashboard">
    <h1 class="title is-3 is-board">Courses in not orgs</h1>
    <table class="table is-bordered is-hoverable is-striped">
      <thead>
        <tr class="is-selected">
          <th>Course name</th>
          <th>Author</th>
        </tr>
      </thead>
       <tbody>
        <% @not_org_courses.each do |course| %>
          <tr>
            <th><%= link_to course.title, course_path(course) %></th>
            <th><%= course.user.name %></th>
          </tr>
        <% end %>
      </tbody>
      <tr>
        <td colspan="2" style="text-align: center;">&nbsp;<%= link_to "show more", user_dashboard_courses_path, class: "button is-link"%></td>
      </tr>
    </table>
  </div>
</div>
