<div class="dashboard">
  <h1 class="title is-3 is-board">Last completed</h1>
  <% if @completed_courses.any? %>

    <table id="completed-table" class="table is-bordered is-hoverable is-hoverable is-striped is-board">
      <thead>
        <tr class="is-selected">
          <th>Course name</th>
          <th>Author</th>
        </tr>
      </thead>
       <tbody>

        <% @completed_courses.each do |course| %>
          <tr>
            <th><%= link_to course.title, course_path(course) %></th>
            <th><%= course.user.name %></th>
          </tr>
        <% end %>

      </tbody>
      <tr>
        <td colspan="2">&nbsp;<%= link_to "show more", user_dashboard_last_completed_path, class: "button is-small is-link"%></td>
      </tr>
    </table>

  <% else %>

    <div class="empty"></div>
  <% end %>
</div>
