<div class="dashboard">
  <h1 class="title is-3 is-board">Recomendations</h1>
  <% if @highest_rate_courses.any? %>

    <table class="table is-bordered is-hoverable is-striped is-board">
      <thead>
        <tr class="is-selected">
          <th>Course name</th>
          <th>Course Raiting</th>
        </tr>
      </thead>
       <tbody>

        <% @highest_rate_courses.each do |course| %>
          <tr>
            <th><%= link_to course.title, course_path(course) %></th>
            <th><div class="review-rating" data-score="<%= course.avg_rate %>"></div></th>
          </tr>
        <% end %>

      </tbody>
      <tr>
        <td colspan="2">&nbsp;<%= link_to "show more", user_dashboard_recomendations_path, class: "button is-small is-link"%></td>
      </tr>
    </table>

  <% else %>

    <div class="empty"></div>
  <% end %>
</div>
